@page
@model SER.Pages.UICoordinador.CuerpoAcademico.EditarProyectoDeInvestigacion

@{
    ViewData["Title"] = "Editar proyecto";
}

<form id="registrarProyectoForm" method="post" style="margin-bottom: 200px">
    <div class="container p-2 h-100" style="margin-top: 40px">
        <div class="d-flex justify-content-center align-content-center h-100" style="margin-bottom: 50px">
            <h3 style="font-size: 20px">EDITAR PROYECTO DE INVESTIGACIÓN</h3>
        </div>
        
        <div class="d-flex justify-content-center align-content-center h-100">
            <input type="text" id="inputNombreInvestigacion" asp-for="@Model.ProyectodeInvestigacion.Nombre" style="width: 348px;" placeholder="Nombre del proyecto" class="form-control" required="required"/>
        </div>
    </div>
    <div class="container p-2 h-100" style="margin-top: 10px">
        <div class="d-flex justify-content-center align-content-center h-100">
            <label>Selecciona la fecha de inicio:</label>
        </div>
    </div>
    <div class="container p-2 h-100">
        <div class="d-flex justify-content-center align-content-center h-100">
            <input class="form-control" id="datepicker"  onkeydown="return false" type="date" asp-for="ProyectodeInvestigacion.FechaInicio" placeholder="dd-mm-yyyy" min="2010-01-01" max="2030-12-31" style="width: 348px; border-radius: 5px" required="required"/>
        </div>
    </div>
    <div class="container p-2 h-50" style="margin-top: 5px">
        <div class="d-flex justify-content-center align-content-center h-50">
            <select id="cuerpos_list" class="form-select" asp-for="ProyectodeInvestigacion.CuerpoAcademicoId" style="width: 300px; border-radius: 5px">
                <option  selected disabled="disabled">Selecciona cuerpo academico</option>
                @foreach (var cuerpo in @Model.CuerposAcademicosList)
                {
                    <option value="@cuerpo.CuerpoAcademicoId">@cuerpo.Nombre</option>
                }
            </select>
            <input type="button" value="+" onclick="window.open('RegistrarCuerpoAcademico', '_self')" style="font-size: 20px; color: white; margin-left: 10px; align-items: center" class="btn btn-success"/>
        </div>
    </div>
    <div class="container p-5 h-100">
        <div class="d-flex justify-content-center align-content-center h-100">
            <input type="submit" class="btn btn-success" id="btnGuardarPI" value="Guardar registro"/>
        </div>
    </div>
</form>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Registro completado </strong>
        <div>@TempData["SuccessMessage"]  Redirigiendo...</div>
    </div>
    <script>
        document.getElementById("btnGuardarPI").setAttribute('disabled', true)
         setTimeout(() => { window.location.href = 'ProyectosdeInvestigacion' }, 2000);
    </script>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Error de registro</strong> @TempData["ErrorMessage"]
    </div>
}

@if (TempData["ExceptionMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Ha ocurrido un error</strong> @TempData["ExceptionMessage"]
    </div>
}


@section Scripts
{
    <script show>
              let headerUV = document.getElementById("uv_header");
              let navPrincipal = document.getElementById("nav-principal");
              let sectionButtons = document.getElementById("section-buttons");
              let titleNav = document.getElementById("title-nav");
              let navigation = document.getElementById("navigation");
              let listaNavegacion = document.getElementById("element-list");
              
              window.onload = function (){
                navPrincipal.hidden = false;
                listaNavegacion.innerHTML += `<li class="nav-item" style="font-size: 25px">
                                                  <a class="nav-link" href="/Menus/UICoordinador">Coordinación</a>
                                                </li>
                                                <li class="nav-item" style="font-size: 25px">
                                                    <a class="nav-link">></a>
                                                </li>
                                                    <li class="nav-item" style="font-size: 25px">
                                                        <a class="nav-link" href="../UICuerpoAcademico">Cuerpo academico</a>
                                                    </li>
                                                <li class="nav-item" style="font-size: 25px">
                                                    <a class="nav-link">></a>
                                                </li>
                                                <li class="nav-item active" style="font-size: 25px">
                                                     <a class="nav-link" href="ProyectosdeInvestigacion">Ver proyectos de investigación</a>
                                                </li>
                                                <li class="nav-item" style="font-size: 25px">
                                                    <a class="nav-link">></a>
                                                </li>
                                                <li class="nav-item active" style="font-size: 25px">
                                                     <a class="nav-link" onclick="window.location.reload()">Editar proyecto</a>
                                                </li>`
                                                    
              }
              </script>
}

