@page
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model SER.Pages.UICoordinador.CuerpoAcademico.Organizaciones

@{
    ViewData["Title"] = "Organizaciones";
}

<div class="container">
    <form method="post">
        <div class="container">
            <div class="d-flex justify-content-center align-content-center h-100" style="margin-bottom: 50px; margin-top: 50px;">
                <h3 style="font-size: 20px">ORGANIZACIONES REGISTRADAS</h3>
            </div>
            <div class="input-group mb-3" style="margin-top: 50px">
                <input type="text" class="form-control" style="float: left; min-width: 50px; border-radius: 5px;" placeholder="Búscar organización">
                <button class="btn btn-primary" type="button" style="border-radius: 5px; margin-left: 5px; margin-right: 40%;">Búscar</button>
                <button class="btn btn-success" onclick="window.open('RegistrarOrganización', '_self')" style="float: right;  border-radius: 5px; margin-left: 5px" id="btnRegistrarOrg" type="button">Registrar organización</button>
            </div>
        </div>
            
        <div id="seleccionarAlumnos">
            <hr />
            <div class="form-group">
                <div class="table-responsive table-bordered">
                    <table id="tbltrabajosrecepcionales" style="max-height: 500px" class="table table-hover">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var org in @Model.OrganizacionesList)
                        {
                            <tr>
                                <td>@org.Nombre</td>
                                <td>
                                    <input asp-page-handler="modificar" type="submit" asp-route-id="@org.OrganizacionId" value="Editar" class="btn btn-primary" id="btnEditarOrg$@org.OrganizacionId"/>
                                </td>
                                <td>
                                    <button type="Button" onclick="mostrarModalElminar(@org.OrganizacionId)" id="btnEliminarOrg" data-toggle="modal" class="btn btn-danger">Eliminar</button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="modalEliminarOrg" tabindex="-1" role="dialog" aria-labelledby="modalEliminarOrgTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Confirmar acción</h5>
                        <button type="button" onclick="cerrarModal()" class="btn close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div style="margin-left: 20px; margin-right: 20px;" class="modal-body">
                        ¿Esta seguro de eliminar la organización?
                    </div>
                    <div id="alertError" class="alert alert-danger">
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="cerrarModal()" class="btn btn-secondary">Cancelar</button>
                        <button type="button" id="btnEliminarConfirmar" onclick="confirmarEliminacion(this.value)" class="btn btn-danger">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script modal>
        function mostrarModalElminar(idEliminar){
            $('#modalEliminarOrg').modal('show');
            $('#alertError').hide();
            document.getElementById('btnEliminarConfirmar').setAttribute('value', idEliminar);
        }
        
        function confirmarEliminacion(idEliminar){
             $.ajax({
                    url: "?handler=eliminar",
                    type: "POST",
                    data: {idEliminar: idEliminar},
                    headers: {
                        RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                        },  
                        success: function (res){
                            if(res.success){
                                window.location.reload();
                            }else{
                                $('#alertError').text(res.responseText);
                                $('#alertError').show();
                            }
                        },
                        
                    })
        }
        
        function cerrarModal(){
            $('#modalEliminarOrg').modal('hide');
        }
    </script>
    <script show>
          let headerUV = document.getElementById("uv_header");
          let navPrincipal = document.getElementById("nav-principal");
          let sectionButtons = document.getElementById("section-buttons");
          let titleNav = document.getElementById("title-nav");
          let navigation = document.getElementById("navigation");
          let listaNavegacion = document.getElementById("element-list");
          
          window.onload = function (){
            navPrincipal.hidden = false;
            listaNavegacion.innerHTML += `<li class="nav-item" style="font-size: 25px">
                                              <a class="nav-link" href="/Menus/UICoordinador">Coordinación</a>
                                            </li>
                                            <li class="nav-item" style="font-size: 25px">
                                                <a class="nav-link">></a>
                                            </li>
                                                <li class="nav-item" style="font-size: 25px">
                                                    <a class="nav-link" href="../UICuerpoAcademico">Cuerpo academico</a>
                                                </li>
                                            <li class="nav-item" style="font-size: 25px">
                                                <a class="nav-link">></a>
                                            </li>
                                            <li class="nav-item" style="font-size: 25px">
                                                 <a class="nav-link" href="Organizaciones">Ver organizaciones</a>
                                            </li>`
                                                
          }
          </script>
}
