@page
@model SER.Pages.Professor.ReadModel
@{
  ViewData["Title"] = "Visualizar información";
  Layout = "~/Pages/Shared/_LoginLayout.cshtml";
}

@section Styles {
  <link rel="stylesheet" href="~/css/Student/Read.css" />
  <link rel="stylesheet" href="~/css/Course/Create.css" />
}

<!-- Tabs navs -->
<div class="d-flex text-center justify-content-center align-items-center mb-4">
  <ul class="nav nav-tabs " id="student-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="tab-1" data-mdb-toggle="tab" href="#student-information-tab" role="tab"
        aria-controls="student-information-tab" aria-selected="true">
        <i class="fas fa-user fa-fw me-2"></i>
        Profesor
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="tab-2" data-mdb-toggle="tab" href="#student-courses-tab" role="tab"
        aria-controls="student-courses-tab" aria-selected="false">
        <i class="fas fa-book-open fa-fw me-2"></i>
        Cursos
      </a>
    </li>
  </ul>
</div>
<!-- Tabs navs -->
<!-- Tabs content -->
<div class="tab-content mt-0 pt-0" id="ex-with-icons-content">
  <div class="tab-pane fade show active container-student-information" id="student-information-tab" role="tabpanel" aria-labelledby="tab-1">
    <div class="container shadow-3 rounded-9 form-update p-5">
      <h5 class="mb-2 text-black fs-4 fw-normal">Información del <strong>Profesor</strong></h5>
      <p>
        La siguiente información es únicamente de consulta y no se puede modificarse.
      </p>
      <div class="d-grid gap-4 mt-4">
        <div class="d-flex">
          <i class="d-flex align-items-center fas fa-user me-2 icon-input"></i>
          <div class="form-outline">
            <input type="text" id="input-fullname" class="form-control form-control-lg bg-white" asp-for="professor.FullName" readonly />
            <label class="form-label" for="input-fullname">Nombre completo</label>
          </div>
        </div>
        <div class="d-flex">
          <i class="d-flex align-items-center fas fa-graduation-cap me-2 icon-input"></i>
          <div class="form-outline">
            <input type="text" id="input-academic-degree" class="form-control form-control-lg bg-white" asp-for="professor.AcademicDegree" readonly />
            <label class="form-label" for="input-academic-degree">Grado académico</label>
          </div>
        </div>
        <div class="d-flex">
          <i class="d-flex align-items-center fas fa-envelope me-2 icon-input"></i>
          <div class="form-outline">
            <input type="text" id="input-email" class="form-control form-control-lg bg-white" asp-for="professor.Email" readonly />
            <label class="form-label" for="input-email">Correo institucional</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade p-4 container-student-information" id="student-courses-tab" role="tabpanel" aria-labelledby="tab-2">
    @if (Model.professor.Courses!.Count == 0)
    {
      <div class="d-flex flex-column justify-content-center align-items-center no-content">
        <img src="~/images/no-content-squirrel.svg" class="img-fluid" alt="No hay cursos asignados" />
        <p class="mt-4 text-muted fw-normal mb-4 text-center">No hay cursos asignados</p>
      </div>
    } 
    else
    {
      <h5 class="mb-2 text-black fs-4 fw-normal mb-4 container-movil">Lista de <strong>Cursos</strong> asignados</h5>
      <div class="table-responsive shadow-3 rounded-6 container-movil">
        <table class="table table-hover">
          <thead class="table-secondary">
            <tr>
              <th scope="col" class="text-center">Estado</th>
              <th scope="col">Curso</th>
              <th scope="col" class="text-center">NRC</th>
              <th scope="col" class="text-center">Período</th>
              <th scope="col" class="text-center">Inscripciones</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var course in Model.professor.Courses)
            {
              <tr>
                <td class="text-center">
                  @if (course.IsOpen)
                  {
                    <span class="badge rounded-pill badge-success">Abierto</span>
                  }
                  else
                  {
                    <span class="badge rounded-pill badge-danger">Cerrado</span>
                  }
                </td>
                <td>
                  <a asp-page="../Course/Read" asp-route-courseId="@course.CourseId">
                    @course.Name
                  </a>
                </td>
                <td class="text-center">@course.Nrc</td>
                <td class="text-center text-uppercase">@course.Period</td>         
                <td class="text-center">@course.CourseRegistrations!.Count()</td>         
              </tr>
            }             
          </tbody>            
        </table> 
      </div>
    }
  </div>
</div>
<!-- Tabs content -->
<div class="row gap-3 justify-content-end mx-0 fixed-bottom bg-white">
  <a role="button" class=" col-md-3 btn btn-secondary w-auto" asp-page="./Index">
    <i class="fas fa-arrow-left me-2"></i>
    Regresar
  </a>
  <button class="col-md-3 btn btn-primary w-auto">
    <i class="fa-solid fa-file-excel me-2"></i>
    Exportar
  </button>
</div>