@page
@model SER.Pages.Course.Index
@{
  Layout = "_LoginLayout";
}

@section Styles {
  <link rel="stylesheet" href="~/css/Student/Index.css" />
}

<article class="row mx-3 mt-4 my-2 title-page">
  <div class="col-md-4 mb-2">
    <h2 class="text-black fs-2">Cursos</h2>
  </div>
  <div class="col-md-4 offset-md-4 mb-4 d-flex justify-content-end">
    <a class="btn btn-primary button-add text-button" role="button" asp-page="./Create">
      <i class="fa-solid fa-plus me-2"></i>
      Agregar curso
    </a>  
  </div>
</article>
<div class="row row-cols-sm-2 row-cols-md-3 g-4 mx-3 mb-4">
  <div class="col">
    <div class="card h-100 shadow-3">
      <div class="card-body">
        <div class="d-flex align-items-center card-title-container">
          <h5 class="card-title fw-normal">
            Total Cursos
          </h5>                
          <i class="fa-solid fa-book-open text-black fa-lg ms-auto"></i>
        </div>
        <p class="card-text text-black card-text-number">
          @{
            int totalCourses = @Model.OpenCourses + @Model.ClosedCourses;
          } 
          @totalCourses       
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 shadow-3">
      <div class="card-body">
        <div class="d-flex align-items-center card-title-container">
          <h5 class="card-title fw-normal">
            Cursos Abiertos
          </h5>                
          <i class="fa-solid fa-unlock text-black fa-lg ms-auto"></i>
        </div>        
        <p class="card-text text-black card-text-number">
          @Model.OpenCourses
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 shadow-3">
      <div class="card-body">
        <div class="d-flex align-items-center card-title-container">
          <h5 class="card-title fw-normal">
            Cursos Cerrados
          </h5>        
          <i class="fa-solid fa-lock text-black fa-lg ms-auto"></i>
        </div> 
        <p class="card-text text-black card-text-number">
          @Model.ClosedCourses
        </p>
      </div>
    </div>
  </div>
</div>
<article class="row mx-4" id="table-container">
  <aside class="col-md-8 table-options p-0 mb-2">
    <div class="row d-flex gx-3">
      <div class="col-md-3 mb-3">
        <div class="col-md-12 dropdown">
          <button class="btn btn-outline-dark border dropdown-toggle w-100 button-hover text-button" type="button" data-mdb-toggle="dropdown" aria-expanded="false" id="dropdown-button">
            <i class="fas fa-filter me-2"></i>
            <small>Filtros</small>
          </button>
          <ul class="dropdown-menu" aria-labelledby="Filtros">
            <li>
              <a class="dropdown-item dropdown-item-filter" role="button" asp-page="./Index" asp-route-currentFilter="open" asp-route-currentSearch="@Model.CurrentSearch">
                <i class="fa-solid fa-unlock me-2"></i>
                Cursos abiertos
              </a>
            </li>
            <li>
              <a class="dropdown-item dropdown-item-filter" role="button" asp-page="./Index" asp-route-currentFilter="closed" asp-route-currentSearch="@Model.CurrentSearch">
                <i class="fa-solid fa-lock me-2"></i>
                Cursos cerrados
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 mb-3">
        <a class="btn btn-outline-dark border w-100 button-hover h-100 text-button text-truncate" id="button-reload-table" role="button" data-mdb-toggle="tooltip" title="Reiniciar tabla" aria-label="Reiniciar tabla" asp-page="./Index">
          <i class="fab fa-solid fa-rotate me-2"></i>
          <small>Reiniciar</small>
        </a>
      </div>
      <div class="col-md-2 mb-3">
        <form method="post" asp-page-handler="ExportSpreadsheetData">
          <button type="submit" class="btn btn-outline-dark border w-100 h-100 button-hover text-button text-truncate" data-mdb-toggle="tooltip" title="Exportar Cursos a Excel" aria-label="Exportar Cursos a Excel">
            <i class="fas fa-file-excel me-2"></i>
            <small>Exportar</small>            
          </button>
        </form>                 
      </div>
      <div class="col-md-3" id="selected-filter-container"></div>        
    </div>
  </aside>    
  <article class="col-md-4 mb-3 p-0 ps-3" id="search-form">  
    <form asp-page="./Index" method="get">
      <div class="input-group">
        <div class="form-outline">
          <input type="search" name="SearchString" id="input-search" class="form-control" value="@Model.CurrentSearch"/>
          <label class="form-label" for="input-search">Buscar por Nombre o NRC</label>
        </div>
        <input type="hidden" name="sortOrder" value="@Model.CurrentSort" />
        <input type="hidden" name="currentFilter" value="@Model.CurrentFilter" />
        <button type="submit" class="btn btn-outline-dark border button-hover" data-mdb-toggle="tooltip" title="Buscar">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form>
  </article>
  <div class="table-responsive shadow-3 rounded-6 p-0">
    <table class="table table-hover">
      <thead class="table-secondary">
        <tr>
          <th scope="col" class="text-center">Estado</th>
          <th scope="col" class="text-center">NRC</th>
          <th scope="col">
            <a asp-page="./Index" asp-route-currentFilter="@Model.CurrentFilter" asp-route-sortOrder="@Model.NameSort" asp-route-currentSearch="@Model.CurrentSearch">
              @if (String.Equals(Model.CurrentSort, "descendant-name")) 
              { 
                <i class="fa-solid fa-arrow-up-short-wide me-1"></i> 
              }
              else
              {
                <i class="fa-solid fa-arrow-down-short-wide me-1"></i>
              }  
              Nombre
            </a>
          </th>
          <th scope="col">Período</th>
          <th scope="col" class="text-center">Sección</th>        
          <th scope="col">Profesor Asignado</th>
          <th class="text-center" colspan="3">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var course in Model.courses)
        {
          <tr>
            <td class="text-center">
              @{
                if (course.IsOpen) 
                {
                  <span class="badge rounded-pill badge-success">Abierto</span>
                }
                else 
                {
                  <span class="badge rounded-pill badge-danger">Cerrado</span>
                }
              }
            </td>
            <td class="text-center">@course.Nrc</td>
            <td >@course.Name</td>
            <td>@course.Period</td>
            <td class="text-center">@course.Section</td>                      
            @{
              if (course.Professor?.FullName != null) 
              {
                <td>@course.Professor?.FullName</td>
              }
              else 
              {
                <td class="text-center">
                  <span class="badge rounded-pill badge-danger">Sin asignar</span>
                </td>
              }
            }
            <td class="text-center">
              <div class="btn-group shadow-0" role="group" aria-label="Acciones">
                <a type="button" class="btn btn-link" data-ripple-color="dark" data-mdb-toggle="tooltip" title="Ver" asp-page="./Read" asp-route-courseId="@course.CourseId">
                  <i class="fas fa-eye fa-lg"></i>
                </a>
                <a type="button" class="btn btn-link" data-ripple-color="dark" data-mdb-toggle="tooltip" title="Actualizar" asp-page="./Update" asp-route-courseId="@course.CourseId">
                  <i class="fas fa-pen fa-lg"></i>
                </a>
              </div>
            </td>
          </tr>
        }
      </tbody>      
    </table>
    @{
      var prevDisabled = !Model.courses.HasPreviousPage ? "disabled" : "";
      var nextDisabled = !Model.courses.HasNextPage ? "disabled" : "";
    }
    <div class="row mx-4 mt-2 mb-1">
      <a asp-page="./Index" asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@(Model.courses.PageIndex - 1)" asp-route-currentSearch="@Model.CurrentSearch" asp-route-currentFilter="@Model.CurrentFilter" class="col-auto me-auto btn btn-outline-dark btn-floating border button-hover @prevDisabled" data-mdb-toggle="tooltip" title="Anterior" aria-label="Anterior">
        <i class="fab fa-solid fa-arrow-left fa-lg"></i>
      </a>
      @{
        if (Model.courses.TotalPages == 0) 
        {
          <p class="col mt-2 text-center">
            Sin resultados de búsqueda
          </p>
        }
        else 
        {
          <p class="col mt-2 text-center">
            Página @Model.courses.PageIndex de @Model.courses.TotalPages          
          </p>
        }
      }
      <a asp-page="./Index" asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@(Model.courses.PageIndex + 1)" asp-route-currentSearch="@Model.CurrentSearch" asp-route-currentFilter="@Model.CurrentFilter" class="col-auto btn btn-outline-dark btn-floating border button-hover @nextDisabled" data-mdb-toggle="tooltip" title="Siguiente"  aria-label="Siguiente">        
        <i class="fab fa-solid fa-arrow-right fa-lg"></i>
      </a>
    </div>
  </div>
</article>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toast-copy">
    <div class="d-flex">
      <div class="toast-body text-primary">
        ¡Texto copiado en el portapapeles!
      </div>
      <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>
@{
  if (ViewData["MessageSuccess"] != null)
  {
    <div class="toast-container position-fixed top-0 end-0 p-3">
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toast-success" data-bs-autohide="false">
        <div class="d-flex">
          <div class="toast-body text-primary">
            <strong>¡Hecho!</strong> @ViewData["MessageSuccess"]
          </div>
          <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>
  }
}
@{
  if (ViewData["MessageError"] != null)
  {
    <div class="toast-container position-fixed top-0 end-0 p-3">
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toast-error" data-bs-autohide="false">
        <div class="d-flex">
          <div class="toast-body text-danger">
            <strong>¡Ups! Ha ocurrido un error: </strong> @ViewData["MessageError"]
          </div>
          <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>
  }
}

@section Scripts {
  <script src="~/js/Student/Index.js"></script>
}