@page
@model SER.Pages.Course.ReadModel
@{
  ViewData["Title"] = "Visualizar información";
  Layout = "~/Pages/Shared/_LoginLayout.cshtml";
}

@section Styles {
  <link rel="stylesheet" href="~/css/Student/Read.css" />
  <link rel="stylesheet" href="~/css/Course/Create.css" />
  <link rel="stylesheet" href="~/css/Course/Read.css" />
}

<!-- Tabs navs -->
<div class="d-flex justify-content-center">
  <ul class="nav  nav-tabs mb-0" id="ex-with-icons" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="tab-1" data-mdb-toggle="tab" href="#course-information-tab" role="tab"
        aria-controls="course-information-tab" aria-selected="true">
        <i class="fas fa-book-open fa-fw me-2"></i>
        Curso
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="tab-2" data-mdb-toggle="tab" href="#course-members-tab" role="tab"
        aria-controls="course-members-tab" aria-selected="false">
        <i class="fas fa-users fa-fw me-2"></i>
        Integrantes
      </a>
    </li>
  </ul>
</div>
<!-- Tabs navs -->
<!-- Tabs content -->
<div class="tab-content" id="ex-with-icons-content">
  <div class="tab-pane fade show active" id="course-information-tab" role="tabpanel" aria-labelledby="tab-1">
    <div class="container shadow-3 rounded-9 form-create p-5">
      <div>
        <h5 class="mb-2 text-black fs-4 fw-normal d-inline">
          Información del <strong>Curso</strong>
        </h5>
        @{
          if (Model.course.IsOpen) 
          {
            <span class="badge rounded-pill badge-success">Abierto</span>
          } 
          else 
          {
            <span class="badge rounded-pill badge-danger">Cerrado</span>
          }
        }
        <p class="mt-2">
          La siguiente información es únicamente de consulta y no se puede modificarse.
        </p>      
      </div>
      <div class="d-flex my-4">
        <i class="d-flex align-items-center fas fa-book-open me-2 icon-input"></i>
        <div class="form-outline">
          <input type="text" id="input-course-name" class="form-control form-control-lg bg-white" asp-for="course.Name" readonly />
          <label class="form-label" for="input-course-name">Nombre</label>
        </div>
      </div>
      <div class="d-flex mb-4">
        <i class="d-flex align-items-center fa-solid fa-hashtag me-2 icon-input"></i>
        <div class="form-outline">
          <input type="text" id="input-nrc" class="form-control form-control-lg bg-white" data-mdb-showcounter="true"
            maxlength="5" autocomplete="off" asp-for="course.Nrc" readonly />
          <label class="form-label" for="input-nrc">NRC </label>
          <div class="form-helper"></div>
        </div>
      </div>
      <div class="d-flex mb-4">
        <i class="d-flex align-items-center fa-solid fa-forward me-2 icon-input"></i>
        <div class="form-outline">
          <input type="text" id="input-section" class="form-control form-control-lg bg-white" asp-for="course.Section" readonly />
          <label class="form-label" for="input-section">Sección</label>
        </div>
      </div>
      <div class="d-flex mb-4">
        <i class="d-flex align-items-center fa-solid fa-calendar me-2 icon-input"></i>
        <div class="form-outline">
          <input type="text" id="input-period" class="form-control form-control-lg bg-white text-uppercase" asp-for="course.Period" readonly />
          <label class="form-label" for="input-period">Periodo</label>
        </div>
      </div>
      <div>
        @{
          if (Model.course.FileId != null) 
          {
            <label class="form-label" for="input-course-file">Archivo del curso (PDF)</label>
            <div class="d-flex">
              <i class="d-flex align-items-center fa-solid fa-file-pdf me-2 icon-input"></i>              
              <a target="_blank" class="btn-link d-flex align-items-center" href='@Url.Page("Read", "CourseFile", new { courseId = Model.course.FileId })'>
                <span data-mdb-toggle="tooltip" title="Ver archivo">
                  @Model.FilePath
                </span>
              </a>
              <a download="@Model.FilePath" class="btn btn-lg btn-floating btn-secondary ms-auto" role="button" href='@Url.Page("Read", "CourseFile", new { courseId = Model.course.FileId })'>
                <span data-mdb-toggle="tooltip" title="Descargar archivo">
                  <i class="fas fa-download"></i>
                </span>
              </a>                
            </div>                  
          } 
          else
          {
            <div class="d-flex">
              <i class="d-flex align-items-center fa-solid fa-file-pdf me-2 icon-input"></i>
              <p class="mb-0 text">
                El curso no tiene ningún <strong>archivo</strong> asignado.
              </p>    
            </div>
          }
        }
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="course-members-tab" role="tabpanel" aria-labelledby="tab-2">
    <div class="container w-75 container-course-information mt-3">      
      <div class="d-flex align-items-center border-bottom border-primary">
        <h5 class="text-black fs-3 fw-normal p-2">Profesor</h5>
        <div class="ms-auto p-2">
          <span data-mdb-toggle="modal" data-mdb-target="#modal-add-professor">
            <a class="btn btn-lg btn-floating btn-secondary" role="button" data-mdb-toggle="tooltip" title="Asignar Profesor">
              <i class="fas fa-solid fa-chalkboard-user"></i>
            </a>                          
          </span>
        </div>          
      </div>    
      @{
        if (Model.course.Professor != null)
        {
          <div class="container my-4">
            <p class="mt-3 d-inline">
              <a asp-page="/Professor/Read" asp-route-professorId="@Model.course.Professor.ProfessorId">
                @Model.course.Professor.FullName
              </a>
              <strong>| @Model.course.Professor.Email</strong>              
            </p>          
          </div>
        }  
        else 
        {
          <div class="d-flex flex-column justify-content-center align-items-center no-content h-25 mt-5">
            <img src="~/images/no-content-dog.svg" class="img-fluid" alt="No hay cursos asignados" />
            <p class="mt-2 text-muted fw-normal mb-4 text-center">
              <small>No hay un profesor asignado a este curso</small>
            </p>
          </div>
        }
      }
      <div class="d-flex align-items-center border-bottom border-primary">
        <h5 class="text-black fs-3 fw-normal p-2">Alumnos</h5>
        <div class="ms-auto p-2">
          <span data-mdb-toggle="modal" data-mdb-target="#modal-add-student">
            <a class="btn btn-lg btn-floating btn-secondary" role="button" data-mdb-toggle="tooltip" title="Agregar Alumnos">
              <i class="fas fa-user-plus"></i>
            </a>                  
          </span>
        </div>
      </div>
      @{
        if (Model.course.CourseRegistrations!.Count > 0)
        {
          <div class="table-responsive shadow-3 rounded-6 mt-4">
            <table class="table table-hover" id="table-students">
              <thead class="table-light">
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col" class="text-center">Inscripción</th>
                  <th scope="col">Calificación</th>
                  <th scope="col" class="text-center">Acciones</th>
                </tr>
              </thead>
              <tbody>
                @foreach (var registration in Model.course.CourseRegistrations!)
                {
                  <tr>                    
                    <td>
                      <a asp-page="../Student/Read" asp-route-studentId="@registration.Student.StudentId">
                        @registration.Student.FullName
                      </a>
                    </td>
                    <td class="text-center">@registration.RegistrationType</td>
                    <td>
                      @if (registration.Score != null)
                      {
                        <span class="badge rounded-pill badge-success">
                          @registration.Score
                        </span>
                      }
                      else
                      {
                        <span class="badge rounded-pill badge-danger">
                          Sin calificar
                        </span>
                      }
                    </td>
                    <td class="text-center">
                      @{
                        if (!registration.RegistrationType.Equals("Baja"))
                        {
                          <button type="button" class="btn btn-floating shadow-0 button-remove-student" id="button-icon-remove-student" data-id="@registration.CourseRegistrationId" data-name="@registration.Student.FullName" data-mdb-toggle="tooltip" title="Remover">
                            <span data-mdb-toggle="modal" data-mdb-target="#modal-remove-student">
                              <i class="fa-solid fa-user-minus text-primary"></i>                            
                            </span>
                          </button>                          
                        }
                      }
                    </td>
                  </tr>
                }             
              </tbody>            
            </table> 
          </div>
        }  
        else 
        {
          <div class="d-flex flex-column justify-content-center align-items-center no-content h-25 mt-5">
            <img src="~/images/no-content-cat.svg" class="img-fluid" alt="No hay cursos asignados" />
            <p class="mt-4 text-muted fw-normal mb-4 text-center">
              <small>No hay alumnos asignados a este curso</small>
            </p>
          </div>
        }
      }
    </div>
  </div>
</div>
<!-- Tabs content -->
<div class="modal fade" id="modal-add-professor" tabindex="-1" aria-labelledby="Modal de asignación de profesor" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content p-2">
      <div class="modal-header border-0 mb-0">
        <h5 class="modal-title text-black fs-4">Asignar profesor</h5>
        <span data-mdb-toggle="tooltip" title="Cancelar">
          <button type="button" class="btn-close text-black" data-mdb-dismiss="modal" aria-label="Close" id="button-close-professor"></button>        
        </span>
      </div>
      <div class="modal-body border-0 pt-0">
        <div id="container-selecteed-professor"></div>
        <p>Recuerda que solo puedes hacer la asignación de un profesor por curso.</p>
        <div class="form-outline mb-4">
          <i class="fas fa-search trailing"></i>
          <input type="text" id="input-professor-search" class="form-control form-control-lg form-icon-trailing" autocomplete="off"/>
          <label class="form-label" for="professor">Escribe el nombre o un correo electrónico</label>
        </div>        
        <hr class="mb-0">
        <ul class="list-group list-group-light rounded-0" id="professor-list"></ul>
        <hr class="mt-0">
      </div>      
      <div class="modal-footer border-0">        
        <button type="button" class="btn btn-primary" id="button-submit-professor">Asignar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-add-student" tabindex="-1" aria-labelledby="Modal de asignación de alumnos" aria-hidden="true" data-mdb-backdrop="static" data-mdb-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-2">
      <div class="modal-header border-0 mb-0">
        <h5 class="modal-title text-black">Asignar estudiantes</h5>
        <span data-mdb-toggle="tooltip" title="Cancelar">
          <button type="button" class="btn-close text-black" data-mdb-dismiss="modal" aria-label="Close" id="button-close-students"></button>        
        </span>
      </div>
      <div class="modal-body border-0 py-0">        
        <div id="container-students">        
        </div>
        <p>Recuerda que un alumno no puede cursar Proyecto Guiado y Experiencia Recepcional al mismo tiempo.</p>
        <div class="form-outline mb-4">
          <i class="fas fa-search trailing"></i>
          <input type="text" id="input-student-search" class="form-control form-control-lg form-icon-trailing" autocomplete="off"/>
          <label class="form-label" for="input-professor-search">Escribe el nombre, correo electrónico o matrícula</label>
        </div>                
        <hr class="mb-0">
        <ul class="list-group list-group-light rounded-0" id="student-list">          
        </ul>
        <hr class="mt-0">
      </div>            
      <div class="modal-footer border-0 mt-0 pt-0">        
        <button type="button" class="btn btn-primary" id="button-submit-students">Asignar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" tabindex="-1" aria-labelledby="Modal de confirmación de eliminación de Alumno" aria-hidden="true" data-mdb-backdrop="static" data-mdb-keyboard="false" id="modal-remove-student">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-2">
      <div class="modal-header border-0 mb-0">
        <h5 class="modal-title text-black fs-4">Quitar alumno del curso</h5>
        <span data-mdb-toggle="tooltip" title="Cancelar">
          <button type="button" class="btn-close text-black" data-mdb-dismiss="modal" aria-label="Close"></button>        
        </span>
      </div>
      <div class="modal-body border-0 py-0">        
        <p>¿Estás seguro de que deseas <strong>quitar</strong> a este alumno del curso?</strong></p>        
      </div>            
      <span class="ms-3 mb-3 fw-bold" id="span-student-name"></span>
      <div class="modal-footer border-0 mt-0 pt-0">        
        <button type="button" class="btn btn-primary" id="button-modal-remove-student">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<div class="row gap-3 justify-content-end mx-0 fixed-bottom bg-white">
  <a role="button" class=" btn btn-secondary w-auto" asp-page="./Index">
    <i class="fas fa-arrow-left me-2"></i>
    Regresar
  </a>
  <button class="btn btn-primary w-auto">
    <i class="fa-solid fa-file-excel me-2"></i>
    Exportar
  </button>
</div>
<div class="toast-container position-fixed bottom-0 start-0 p-4">
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toast-success" data-bs-autohide="false">
    <div class="d-flex">
      <div class="toast-body text-white" id="toast-content"></div>
      <button type="button" class="btn-close me-2 m-auto btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>
<div class="toast-container position-fixed top-0 end-0 p-3">
  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toast-error" data-bs-autohide="false">
    <div class="d-flex">
      <div class="toast-body text-danger fw-bold" id="toast-error-content"></div>
      <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

@section Scripts {
  <script src="~/js/signalr/dist/browser/signalr.js"></script>
  <script src="~/js/Course/Read/StudentsAssigned.js"></script>
  <script src="~/js/Course/Read/ProfessorAsignment.js"></script>
  <script src="~/js/Course/Read/ProfessorHub.js"></script>
  <script src="~/js/Course/Read/StudentHub.js"></script>
  <script src="~/js/Course/Read/DeleteRegistration.js"></script>  
}