@page
@model SER.Pages.UICoordinador.ExperienciaRecepcional.ModificarSinodalExterno

@{
    ViewData["Title"] = "Modificar sinodal";
}


<form id="registrarSinodal" method="post" style="margin-bottom: 200px">
    <div class="container p-2 h-100" style="margin-top: 40px">
        <div class="d-flex justify-content-center align-content-center h-100" style="margin-bottom: 50px">
            <h3 style="font-size: 20px">EDITAR INFORMACIÓN DE SINODAL EXTERNO</h3>
        </div>
        <div class="d-flex justify-content-center align-content-center h-100">
            <input type="text" id="inputNombreSinodal" asp-for="nombreSinodal" name="nombreSinodal" style="width: 348px;" placeholder="Nombre del sinodal" class="form-control" required/>
        </div>
    </div>
    <div id="containerAPaterno" class="container p-2 h-100" style="margin-top: 40px">
        <div class="d-flex justify-content-center align-content-center h-100">
            <input type="text" id="inputApellidoPaterno" asp-for="@Model.apellidoPaterno" name="aPaterno" style="width: 348px;" placeholder="Apellido paterno" class="form-control" required/>
        </div>
    </div>
    <div id="containerAMaterno" class="container p-2 h-100" style="margin-top: 40px">
        <div class="d-flex justify-content-center align-content-center h-100">
            <input type="text" id="inputApellidoMaterno" asp-for="@Model.apellidoMaterno" name="aMaterno" style="width: 348px;" placeholder="Apellido materno" class="form-control" required/>
        </div>
    </div>
    <div class="container p-2 h-100" style="margin-top: 40px">
        <div class="d-flex justify-content-center align-content-center h-100">
            <select id="cuerpos_list" asp-for="SinodalDelTrabajo.OrganizacionId" class="form-select" name= "orgId" style="width: 348px; border-radius: 5px" required>
                <option value="">Selecciona la organización perteneciente</option>
                @foreach (var organizacion in @Model.Organizacions)
                {
                    <option value="@organizacion.OrganizacionId">@organizacion.Nombre</option>
                }
            </select>
        </div>
    </div>
    <div class="container p-2 h-100" style="margin-top: 40px">
        <div class="d-flex justify-content-center align-content-center h-100">
            <input type="email" id="inputCorreo" asp-for="@Model.SinodalDelTrabajo.CorreoElectronico" style="width: 348px;" name="emailSinodal" placeholder="Correo electrónico" class="form-control" required="required"/>
        </div>
    </div>
    <div class="container p-2 h-100" style="margin-top: 40px">
        <div class="d-flex justify-content-center align-content-center h-100">
            <input type="tel" maxlength="10" pattern="[0-9]{10}" id="inputTelefono" name="telefonoSinodal" asp-for="@Model.SinodalDelTrabajo.Telefono" style="width: 348px;" placeholder="Número telefónico" class="form-control" required="required"/>
        </div>
    </div>
    <div class="container p-5 h-100">
        <div class="d-flex justify-content-center align-content-center h-100">
            <input type="submit" class="btn btn-success" id="btnGuardarSinodal" value="Guardar registro"/>
        </div>
    </div>
</form>

@if(TempData["Success"] !=null)
{
     <div class="alert alert-success">
         @TempData["Success"], redirigiendo...
     </div>
     
     <script>
         document.getElementById("btnGuardarSinodal").setAttribute('disabled', true)
          setTimeout(() => { window.location.href = 'Sinodales' }, 2000);
     </script>   
 }


@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@section Scripts
{
     <script show>
      let headerUV = document.getElementById("uv_header");
      let navPrincipal = document.getElementById("nav-principal");
      let sectionButtons = document.getElementById("section-buttons");
      let titleNav = document.getElementById("title-nav");
      let navigation = document.getElementById("navigation");
      let listaNavegacion = document.getElementById("element-list");
      
      
      window.onload = function (){
        navPrincipal.hidden = false;
        listaNavegacion.innerHTML += `<li class="nav-item" style="font-size: 25px">
                                          <a class="nav-link" href="/Menus/UICoordinador">Coordinación</a>
                                        </li>
                                        <li class="nav-item" style="font-size: 25px">
                                            <a class="nav-link">></a>
                                        </li>
                                            <li class="nav-item" style="font-size: 25px">
                                                <a class="nav-link" href="../UIExperienciaRecepcional">Experiencia recepcional</a>
                                            </li>
                                        <li class="nav-item" style="font-size: 25px">
                                            <a class="nav-link">></a>
                                        </li>
                                        <li class="nav-item" style="font-size: 25px">
                                             <a class="nav-link" href="Sinodales">Sinodales</a>
                                        </li>
                                        <li class="nav-item" style="font-size: 25px">
                                            <a class="nav-link">></a>
                                        </li>
                                        <li class="nav-item" style="font-size: 25px">
                                             <a class="nav-link" onclick="window.location.reload()">Editar sinodal</a>
                                        </li>`
                                            
      }
      </script>
}