@page
@model SER.Pages.UICoordinador.ExperienciaRecepcional.ModificarTrabajoRecepcional

@{
    ViewData["Title"] = "Modificar trabajo recepcional";
}

<form id="registrarTrabajoForm" enctype="multipart/form-data" method="post" style="margin-bottom: 200px">
    <div class="tab">
        <div class="container">
            <div class="d-flex justify-content-center align-content-center h-100" style="margin-bottom: 50px; margin-top: 50px;">
                <h3 style="font-size: 20px">MODIFICAR TRABAJO RECEPCIONAL</h3>
            </div>
            <div class="input-group mb-3" style="margin-top: 50px">
                <input type="text" name="NombreTrabajo" class="form-control" style="float: left; min-width: 50px; border-radius: 5px;" asp-for="TrabajoRecepcional.Nombre" placeholder="Nombre del trabajo recepcional" required>
                <select class="form-select" name="DuracionTrabajo" style="float: right; border-radius: 5px; margin-left: 15px" asp-for="TrabajoRecepcional.Duracion" required>
                    <option value="" disabled selected>Seleccionar duración</option>
                    <option value="6 meses">6 meses</option>
                    <option value="12 meses">12 meses</option>
                </select>
                <input class="form-control" name="FechaTrabajo" id="datepicker" asp-for="TrabajoRecepcional.Fechadeinicio" onkeydown="return false" type="date" placeholder="dd-mm-yyyy" min="2010-01-01" max="2030-12-31" style="margin-left: 15px; border-radius: 5px" required="required"/>
                <input type="text" class="form-control" name="LineaTrabajo" style="float: left; margin-left: 15px; min-width: 50px; border-radius: 5px;" asp-for="TrabajoRecepcional.LineaDeInvestigacion" placeholder="Linea de investigación" required>
            </div>
        </div>
        <div class="container">
            <div class="input-group mb-3" style="margin-top: 50px">
                <select class="form-select" name="ModalidadTrabajo" style="float: left; min-width: 50px; border-radius: 5px;" asp-for="TrabajoRecepcional.Modalidad" required>
                    <option value="" disabled selected>Seleccionar modalidad</option>
                    <option value="Tesina" >Tesina</option>
                    <option value="Tesis" >Tesis</option>
                    <option value="Monografía" >Monografía</option>
                    <option value="Memoria">Memoria</option>
                    <option value="Trabajo práctico-técnico">Trabajo práctico-técnico</option>
                    <option value="RSL">RSL</option>
                    <option value="RML">RML</option>
                </select>
                <select id="selectTipo" name="TipoTrabajo" class="form-select" asp-for="proyectoAsociado" style="border-radius: 5px; margin-left: 15px" required>
                    <option value="" disabled="disabled" selected>Seleccionar tipo</option>
                    <option value="vinculacion">Vinculación</option>
                    <option value="pladea">PLADEAFEI</option>
                    <option value="investigacion">Proyecto de investigación</option>
                </select>
                <select id="estadoTrabajo" name="estadoTrabajo" class="form-select" asp-for="estado" style="border-radius: 5px; margin-left: 15px" required>
                    <option value="" disabled="disabled" selected>Cambiar estado del trabajo</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Abandonado">Abandonado</option>
                    <option value="Completado">Completado</option>
                    <option value="En tramite para defensa">En tramite para defensa</option>
                </select>
                <select id="estadoExperiencia" class="form-select" name="experienciaEstado" asp-for="TrabajoRecepcional.ExperienciaActual" style="border-radius: 5px; margin-left: 15px" required>
                    <option value="" disabled="disabled" selected>Selecciona experiencia de cursamiento</option>
                    <option value="er">Experiencia recepcional</option>
                    <option value="pg">Proyecto guiado</option>
                </select>
            </div>
        </div>
        <div class="container">
            <div class="input-group mb-3" style="margin-top: 50px">
                <select id="selectProyecto" name="idProyecto" class="form-select" style="border-radius: 5px;" required>
                    <option value="" disabled selected>Seleccionar tipo de proyecto</option>
                    @if (Model.Pladeafeis.Count > 0)
                    {
                        foreach (var pladea in Model.Pladeafeis)
                        {
                            if (Model.TrabajoRecepcional.PladeafeiId == pladea.PladeafeiId)
                            {
                                <option value="@pladea.PladeafeiId" selected="selected">@pladea.Accion</option>
                            }
                            else
                            {
                                <option value="@pladea.PladeafeiId">@pladea.Accion</option>
                            }
                        }
                    }else if (Model.Vinculacions.Count > 0)
                    {
                        foreach (var vinculacion in Model.Vinculacions)
                        {
                            if (Model.TrabajoRecepcional.VinculacionId == Int32.Parse(vinculacion.vinculacionId))
                            {
                                <option value="@vinculacion.vinculacionId" selected="selected">@vinculacion.organizacion</option>
                            }
                            else
                            {
                                <option value="@vinculacion.vinculacionId">@vinculacion.organizacion</option>
                            }
                        }
                    }else if (Model.ProyectoDeInvestigacions.Count > 0)
                    {
                        foreach (var investigacion in Model.ProyectoDeInvestigacions)
                        {
                            if (Model.TrabajoRecepcional.ProyectoDeInvestigacionId == investigacion.ProyectoDeInvestigacionId)
                            {
                                <option value="@investigacion.ProyectoDeInvestigacionId" selected="selected">@investigacion.Nombre</option>
                            }
                            else
                            {
                                <option value="@investigacion.ProyectoDeInvestigacionId">@investigacion.Nombre</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>
        <div class="input-group mb-3" style="margin-top: 50px">
            <label style="margin-top: 6px" for="btnFile">Archivo subido:</label>
            @if (Model.ArchivoTrabajo!=null)
            {
                <button id="btnFile" class="btn btn-link" asp-page-handler="file" type="submit" asp-route-id="@Request.Query["id"]">@Model.ArchivoTrabajo.NombreArchivo</button>
            }
            else
            {
                <label style="margin-top: 7px; margin-left: 20px" for="btnFile">Sin archivos subidos</label>
            }
        </div>
        <div class="container">
            <div class="input-group mb-3" style="margin-top: 30px">
                <label style="margin-top: 7px; margin-left: 20px" for="formFile">Selecciona el archivo del anteproyecto a modificar</label>
            </div>
            <div class="input-group mb-3" >
                <input class="form-control" name="fileTrabajo" accept="application/msword, application/pdf, application/vnd.ms-powerpoint"
                       type="file" id="formFile">
            </div>
        </div>
        <div class="container" style="align-content: center">
            <div class="input-group mb-3" style="align-content: center; margin-top: 50px">
                <button id="btnGuardarProyecto"  asp-route-id="@Model.Request.Query["id"]" asp-page-handler="modificarTrabajo" class="btn btn-success">Guardar registro</button>
            </div>
        </div>
    </div>
</form>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"], redirigiendo...
    </div>
    
    <script>
        document.getElementById("btnGuardarProyecto").setAttribute('disabled', true)
         setTimeout(() => { window.location.href = 'TrabajosRecepcionales' }, 2000);
    </script>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}


@section Scripts
{


    <script show>
      let headerUV = document.getElementById("uv_header");
      let navPrincipal = document.getElementById("nav-principal");
      let sectionButtons = document.getElementById("section-buttons");
      let titleNav = document.getElementById("title-nav");
      let navigation = document.getElementById("navigation");
      let listaNavegacion = document.getElementById("element-list");
      let selectTipo = document.getElementById("selectTipo");
      let selectProyecto = document.getElementById("selectProyecto");
      let listaInvestigacion = new Array();
      let listaPladeas = new Array();
      let listaVinculaciones = new Array();

      
      selectTipo.addEventListener('change', function (){
          obtenerProyectosPorTipo(selectTipo.value)
      })
      
      function obtenerProyectosPorTipo(tipo){
          if (tipo == "pladea"){
              cargarPladea();    
          }else if (tipo == "vinculacion"){
              cargarVinculacion();
          }else if (tipo == "investigacion"){
              cargarInvestigacion();
          }
      }
      
      function cargarInvestigacion(){
          $.ajax({
          url: "?handler=ObtenerInvestigacionModificar",
          type: "GET",
          headers: {
              RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
          },  
          success: function (data){
              listaInvestigacion = JSON.parse(data);
              llenarInvestigaciones(listaInvestigacion);
          },
          error: function (data){
              console.log("Error");
          }
          }); 
      }
              
      function cargarPladea(){
          $.ajax({
          url: "?handler=ObtenerPladeaModificar",
          type: "GET",
          headers: {
              RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
          },  
          success: function (data){
              listaPladeas = JSON.parse(data);
              llenarPladea(listaPladeas);
              },
              error: function (data){
              console.log("Error");
          }
          });             
      }
              
      function cargarVinculacion(){
          $.ajax({
          url: "?handler=ObtenerVinculacionModificar",
          type: "GET",
          headers: {
              RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
              },  
          success: function (data){
              listaVinculaciones = JSON.parse(data);
              llenarVinculacion(listaVinculaciones);
          },
          error: function (data){
              console.log("Error");
          }
          });            
      }
      
      function llenarVinculacion(vinculaciones){
          $("#selectProyecto option").remove();
          for (let i=0; i<vinculaciones.length; i++){
              let row = `<option value="${vinculaciones[i].id}" >${vinculaciones[i].nombre}</option>`;
              selectProyecto.innerHTML += row;
          }  
      }
      
      function llenarPladea(pladeas){
          $("#selectProyecto option").remove();
          for (let i=0; i<pladeas.length; i++){
              let row = `<option value="${pladeas[i].PladeafeiId}" >${pladeas[i].Accion}</option>`;
              selectProyecto.innerHTML += row;
          }       
      }
      
      function llenarInvestigaciones(investigaciones){
          $("#selectProyecto option").remove();
          for (let i=0; i<investigaciones.length; i++){
              let row = `<option value="${investigaciones[i].ProyectoDeInvestigacionId}" >${investigaciones[i].Nombre}</option>`;
              selectProyecto.innerHTML += row;
          }  
      }
      
      window.onload = function (){
        navPrincipal.hidden = false;
        listaNavegacion.innerHTML += `<li class="nav-item" style="font-size: 25px">
                                          <a class="nav-link" href="/Menus/UICoordinador">Coordinación</a>
                                        </li>
                                        <li class="nav-item" style="font-size: 25px">
                                            <a class="nav-link">></a>
                                        </li>
                                            <li class="nav-item" style="font-size: 25px">
                                                <a class="nav-link" href="../UIExperienciaRecepcional">Experiencia recepcional</a>
                                            </li>
                                        <li class="nav-item" style="font-size: 25px">
                                            <a class="nav-link">></a>
                                        </li>
                                        <li class="nav-item" style="font-size: 25px">
                                             <a class="nav-link" href="TrabajosRecepcionales">Trabajos recepcionales</a>
                                        </li>
                                        <li class="nav-item" style="font-size: 25px">
                                            <a class="nav-link">></a>
                                        </li>
                                        <li class="nav-item" style="font-size: 25px">
                                             <a class="nav-link" onclick="window.location.reload()">Modificar trabajo</a>
                                        </li>`
                                            
      }
      </script>
}
