@page
@model SER.Pages.UICoordinador.ExperienciaRecepcional.Sinodales

@{
    ViewData["Title"] = "Sinodales";
}

<div class="container">
    <form method="post">
        <div class="container">
                <div class="d-flex justify-content-center align-content-center h-100" style="margin-bottom: 50px; margin-top: 50px;">
                    <h3 style="font-size: 20px">SINODALES REGISTRADOS</h3>
                </div>
                <div class="input-group mb-3" style="margin-top: 50px">
                    <input type="text" class="form-control" style="float: left; min-width: 50px; border-radius: 5px;" placeholder="Búscar sinodal">
                    <button class="btn btn-primary" type="button" style="border-radius: 5px; margin-left: 5px; margin-right: 40%;">Búscar</button>
                    <button id="btnRegistrarSinodal" class="btn btn-success" style="float: right; border-radius: 5px; margin-left: 5px" onclick="window.open('RegistrarSinodal', '_self')" type="button">Registrar sinodal</button>
                </div>
            </div>
            
            <div id="seleccionarAlumnos">
                <hr />
                <div class="form-group">
                    <div class="table-responsive">
                        <table id="tbltrabajosrecepcionales" class="table table-hover">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>Teléfono</th>
                                <th>Organización</th>
                                <th>Editar</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var sinodal in @Model.sinodales)
                            {
                                <tr>
                                    <td>@sinodal.nombre</td>
                                    <td>@sinodal.correo</td>
                                    <td>@sinodal.telefono</td>
                                    <td>@sinodal.organizacion</td>
                                    <td>
                                        @if (sinodal.numeroPersonal.Length > 0)
                                        {
                                            <button id="btnModificarInterno&@sinodal.id" class="btn btn-primary" asp-page-handler="modificarInterno" asp-route-id="@sinodal.id">Editar</button>
                                        }
                                        else
                                        {
                                            <button id="btnModificarExterno&@sinodal.id" class="btn btn-primary" asp-page-handler="modificarExterno" asp-route-id="@sinodal.id">Editar</button>
                                        }
                                        </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </form>
</div>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@section Scripts
{
    <script show>
  let headerUV = document.getElementById("uv_header");
  let navPrincipal = document.getElementById("nav-principal");
  let sectionButtons = document.getElementById("section-buttons");
  let titleNav = document.getElementById("title-nav");
  let navigation = document.getElementById("navigation");
  let listaNavegacion = document.getElementById("element-list");
  let btnCerrarSesion = document.getElementById("btnCerrarSesion");
  
  
  window.onload = function (){
    navPrincipal.hidden = false;
    listaNavegacion.innerHTML += `<li class="nav-item" style="font-size: 25px">
                                      <a class="nav-link" href="/Menus/UICoordinador">Coordinación</a>
                                    </li>
                                    <li class="nav-item" style="font-size: 25px">
                                        <a class="nav-link">></a>
                                    </li>
                                        <li class="nav-item" style="font-size: 25px">
                                            <a class="nav-link" href="../UIExperienciaRecepcional">Experiencia recepcional</a>
                                        </li>
                                    <li class="nav-item" style="font-size: 25px">
                                        <a class="nav-link">></a>
                                    </li>
                                    <li class="nav-item" style="font-size: 25px">
                                         <a class="nav-link" href="Sinodales">Sinodales</a>
                                    </li>`
                                        
  }
  </script>
}

