
@using System.Security.Claims
@{
  string role = User.FindFirstValue(ClaimTypes.Role);
  Dictionary<string, List<(string, string)>> navItemsByRole = 
  new Dictionary<string, List<(string, string)>>()
  {
    {"Administrator", new List<(string, string)>()
      {
        ("/Menus/Management", "Inicio"),
        ("/AcademicBody/Index", "CA"),
        ("/Professor/Index", "Profesores"),
        ("/Course/Index", "Cursos"),
        ("#", "Coordinadores"),
        ("/Student/Index", "Alumnos")
      }
    },
    {"Professor", new List<(string, string)>()
      {
        ("/Menus/Management", "Inicio"),
        ("/Course/Index", "Cursos"),
        ("/Professor/Index", "Profesores"),
        ("/Student/Index", "Alumnos")
      }
    }
  };

  Dictionary<string, string> navIcons = new Dictionary<string, string>()
  {  
    {"Inicio", "fa-solid fa-home me-3"},
    {"Cursos", "fa-solid fa-book-open me-3"},
    {"Profesores", "fa-solid fa-chalkboard-teacher me-3"},
    {"CA", "fa-solid fa-school me-3"},
    {"Documentos", "fa-regular fa-folder-open me-3"},
    {"Coordinadores", "fa-solid fa-user-tie me-3"},
    {"Alumnos", "fa-solid fa-users me-3"},
    {"Expedientes", "fas fa-folder-open fa-fw me-3"}
  };
}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Sistema de ER</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/Shared/_LoginLayout.css" />
  <link rel="stylesheet" href="~/css/Shared/_Layout.css" />
  <link rel="icon" href="~/favicon.ico" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Livvic&display=swap" rel="stylesheet">
  @await RenderSectionAsync("Styles", required: false)
</head>

<body class="main-container d-flex">
  <nav class="sidebar position-fixed bg-white border" id="side-nav">
    <div class="header-box px-2 py-2 d-flex justify-content-center">      
       <a class="navbar-brand d-flex mb-2 align-items-center justify-content-center" href="./Index">
        <img src="~/images/ser-logo.png" class="cube-ser-logo mb-0 mt-2" alt="Sistema de Experiencia Recepcional" loading="lazy" />        
      </a>
      <button class="btn-close d-md-none d-block ms-3 mt-2" id="close-button"></button>
    </div>
    <ul class="list-unstyled px-3">
      @if (User.Identity!.IsAuthenticated && navItemsByRole.ContainsKey(role))
      {
        foreach (var item in navItemsByRole[role])
        {
          <li>
            <a href="@item.Item1" class="anchor-navbar-option list-group-item list-group-item-action p-3 ripple" aria-current="true">                  
              @foreach (var icon in navIcons)
              {
                if (icon.Key.Equals(item.Item2))
                {
                  <i class="@icon.Value fa-fw"></i>
                }
              }
              <span>@item.Item2</span>
            </a>
          </li>
        }
      }
    </ul>      
  </nav>
  <div class="content">
    <header class="navbar navbar-expand-lg navbar-light bg-white position-fixed w-100 shadow-0 border" id="navbar">
      <div class="container-fluid">        
        <button class="navbar-toggler" id="open-button" type="button" data-mdb-toggle="collapse" data-mdb-target="#sider-bar-menu" aria-controls="sider-bar-menu" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>        
        <div id="form-navbar-search">
          <form class="d-none d-md-flex input-group w-auto my-auto">
            <input autocomplete="off" type="search" class="form-control rounded" placeholder='Buscar' id="input-navbar-search" />
            <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
          </form>        
        </div>
        <ul class="navbar-nav ms-auto d-flex flex-row">
          <li class="nav-item dropdown d-flex justify-content-center align-items-center">
            @if (User.Identity!.IsAuthenticated)
            {
              @User.Identity.Name;
            }          
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false" >
              <i class="fa-solid fa-circle-user fa-2x ms-2"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-fw me-3"></i>
                  Mi perfil
                </a>
              </li>
              <li>
                <form method="post" asp-page="/Index" asp-page-handler="LogOut">
                  <button type="submit" id="button-log-out" class="dropdown-item">
                    <i class="fas fa-sign-out-alt fa-fw me-3"></i>
                    Cerrar sesión
                  <button>
                </form>
              </li>
            </ul>
          </li>
        </ul>        
      </div>
    </header>
    <main role="main">
      @RenderBody()
    </main>
  </div>
  
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
  <script src="~/js/Shared/_LoginLayout.js"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>