@page
@model SER.Pages.UIMaestro.Experiencias

@{
    ViewData["Title"] = "Mis experiencias";
}

<div class="container">
    <form method="post">
        <div class="container">
            <div class="d-flex justify-content-center align-content-center h-100" style="margin-bottom: 50px; margin-top: 50px;">
                <h3 style="font-size: 20px">EXPERIENCIAS EDUCATIVAS</h3>
            </div>
            <div class="input-group mb-3" style="margin-top: 50px">
                <input type="text" class="form-control" style="float: left; min-width: 50px; border-radius: 5px;" disabled placeholder="Búscar experiencia recepcional">
                <button class="btn btn-primary" type="button" style="border-radius: 5px; margin-left: 5px; margin-right: 70%;" disabled>Búscar</button>
            </div>
        </div>
        <div id="experiencias">
            <div class="form-group">
                <div class="table-responsive">
                    <table id="tblExperiencias" class="table table-hover">
                        <thead>
                        <tr>
                            <th>Nombre de la experiencia</th>
                            <th>NRC</th>
                            <th>Alumnos inscritos</th>
                            <th>Periodo</th>
                            <th>Ver alumnos</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var experiencia in Model.experienciasAdscritas)
                        {
                            <tr>
                                <td>@experiencia.nombreExperiencia</td>
                                <td>@experiencia.NRC</td>
                                <td>@experiencia.cantidadAlumnos</td>
                                <td>@experiencia.periodo</td>
                                <td>
                                    <button class="btn btn-primary" asp-page-handler="verAlumnos" asp-route-experiencia="@experiencia.experiendiaID" asp-route-id="@Request.Query["id"]">Ver alumnos</button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

@section Scripts
{
    <script show>
  let headerUV = document.getElementById("uv_header");
  let navPrincipal = document.getElementById("nav-principal");
  let sectionButtons = document.getElementById("section-buttons");
  let titleNav = document.getElementById("title-nav");
  let navigation = document.getElementById("navigation");
  let listaNavegacion = document.getElementById("element-list");
  const valores = window.location.search;
  const params = new URLSearchParams(valores)
  let idMaestro = params.get('id');
  
  window.onload = function (){
    navPrincipal.hidden = false;
    listaNavegacion.innerHTML += `<li class="nav-item active" style="font-size: 25px">
                                            <a class="nav-link" onclick="window.open('../Menus/UIMaestro?id='+idMaestro, '_self')">Maestro</a>
                                        </li>
                                    <li class="nav-item active" style="font-size: 25px">
                                            <a class="nav-link">></a>
                                        </li>
                                        <li class="nav-item active" style="font-size: 25px">
                                            <a class="nav-link" onclick="window.location.reload()">Mis experiencias</a>
                                        </li>`
  }
  </script>
}