@page
@model SER.Pages.UIAdministrador.ExperienciasEducativas

@{
    ViewData["Title"] = "Experiencias educativas";
}


<div class="container">
    <form method="post">
        <div class="container">
                <div class="input-group mb-3" style="margin-top: 50px">
                    <input type="text" class="form-control" style="float: left; min-width: 50px; border-radius: 5px;" placeholder="Búscar experiencia">
                    <button class="btn btn-primary" type="button" style="border-radius: 5px; margin-left: 5px; margin-right: 40%;">Búscar</button>
                    <button class="btn btn-success" onclick="window.open('RegistrarExperiencia', '_self')" style="float: right;  border-radius: 5px; margin-left: 5px" id="btn_registrarExp" type="button">Registrar experiencia</button>
                </div>
            </div>
            
        <div id="seleccionarAlumnos">
            <hr />
            <div class="form-group">
                <div class="table-responsive table-bordered">
                    <table id="tbltrabajosrecepcionales" style="max-height: 500px" class="table table-hover">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>NRC</th>
                            <th>Estado</th>
                            <th>Periodo</th>
                            <th>Asignar alumnos</th>
                            <th>Editar</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var exp in @Model.ExperienciaEducativas)
                        {
                            <tr>
                                <td>@exp.Nombre</td>
                                <td>@exp.Nrc</td>
                                @if (exp.EstadoAbierto == 1)
                                {
                                    <td>Activo</td>
                                }
                                else
                                {
                                    <td>Inactivo</td>
                                }
                                <td>@exp.Periodo</td>
                                <td>
                                    @if (exp.EstadoAbierto == 1)
                                    {
                                        <button type="submit" asp-page-handler="asignar" asp-route-id="@exp.ExperienciaEducativaId" class="btn btn-primary">Asignar alumnos</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-primary" disabled>Asignar alumnos</button>
                                    }
                                </td>
                                <td>
                                    <button type="submit" asp-page-handler="editar" asp-route-id="@exp.ExperienciaEducativaId" class="btn btn-primary">Editar</button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts
{
    <script show>
  let headerUV = document.getElementById("uv_header");
  let navPrincipal = document.getElementById("nav-principal");
  let sectionButtons = document.getElementById("section-buttons");
  let titleNav = document.getElementById("title-nav");
  let navigation = document.getElementById("navigation");
  let listaNavegacion = document.getElementById("element-list");
  
  window.onload = function (){
    navPrincipal.hidden = false;
    listaNavegacion.innerHTML += `<li class="nav-item active" style="font-size: 25px">
                                            <a class="nav-link" href="../Menus/UIAdministración">Administración</a>
                                        </li>
                                    <li class="nav-item" style="font-size: 25px">
                                        <a class="nav-link">></a>
                                    </li>
                                        <li class="nav-item active" style="font-size: 25px">
                                            <a class="nav-link" href="ExperienciasEducativas">Experiencias educativas</a>
                                        </li>`
  }
  </script>
}

