@page
@model SER.Pages.UIAdministrador.RegistrarDocente

@{
    ViewData["Title"] = "Registrar Docente";
}

<div class="container" style="margin-bottom: 200px">
    <form id="registrarLgacform" method="post">
        <div class="d-flex justify-content-center align-content-center h-100" style="margin-bottom: 50px;margin-top: 50px">
            <h3 style="font-size: 20px">REGISTRAR DOCENTE</h3>
        </div>
        <div class="container p-2 h-100" style="margin-top: 40px">
            <div class="d-flex justify-content-center align-content-center h-100">
                <input type="text" id="inputNombre" name="nombreProfesor" style="width: 348px;"placeholder="Nombre completo" class="form-control" required="required"/>
            </div>
        </div>
        <div class="container p-2 h-100" style="margin-top: 40px">
            <div class="d-flex justify-content-center align-content-center h-100">
                <input type="text" id="inputApellidoPaterno" name="apellidoPaterno" style="width: 348px;"placeholder="Apellido paterno" class="form-control" required="required"/>
            </div>
        </div>
        
        <div class="container p-2 h-100" style="margin-top: 40px">
            <div class="d-flex justify-content-center align-content-center h-100">
                <input type="text" id="inputApellidoMaterno" name="apellidoMaterno" style="width: 348px;"placeholder="Apellido materno" class="form-control" required="required"/>
            </div>
        </div>

        <div class="container p-2 h-100" style="margin-top: 40px">
            <div class="d-flex justify-content-center align-content-center h-100">
                <input type="number"  id="input_numeroPersonal" pattern="[0-9]{5}" asp-for="@Model.profesorNuevo.NumeroDePersonal" style="width: 348px;"placeholder="Numero de personal" class="form-control" required="required"/>
            </div>
        </div>
        <div class="container p-2 h-100" style="margin-top: 40px">
            <div class="d-flex justify-content-center align-content-center h-100">
                <input type="password" id="input_Contraseña" asp-for="@Model.usuarioNuevo.Contra" style="width: 348px;"placeholder="Contraseña" class="form-control" required="required"/>
            </div>
        </div>
        <div class="container p-2 h-100" style="margin-top: 40px">
            <div class="d-flex justify-content-center align-content-center h-100">
                <input type="password" id="input_ContraseñaRepeat" asp-for="@Model.contraseña" style="width: 348px;"placeholder="Repetir contraseña" class="form-control" required="required"/>
            </div>
        </div>
        <div class="container p-5 h-100">
            <div class="d-flex justify-content-center align-content-center h-100">
                <input id="btnGuardarDocente" type="submit" class="btn btn-success" value="Guardar registro"/>
            </div>
        </div>
    </form>
</div>

@if(TempData["Success"] !=null)
{
     <div class="alert alert-success">
         @TempData["Success"], redirigiendo...
     </div>
     
     <script>
         document.getElementById("btnGuardarDocente").setAttribute('disabled', true)
          setTimeout(() => { window.location.href = 'Docentes' }, 1500);
     </script>   
 }


@if (TempData["Error"] != null)
{
    <div id="alertError" class="alert alert-danger">
        @TempData["Error"]
    </div>
}


@section Scripts
{
    <script show>
  let headerUV = document.getElementById("uv_header");
  let navPrincipal = document.getElementById("nav-principal");
  let sectionButtons = document.getElementById("section-buttons");
  let titleNav = document.getElementById("title-nav");
  let navigation = document.getElementById("navigation");
  let listaNavegacion = document.getElementById("element-list");
  
  window.onload = function (){
    navPrincipal.hidden = false;
    listaNavegacion.innerHTML += `<li class="nav-item active" style="font-size: 25px">
                                            <a class="nav-link" href="../Menus/UIAdministración">Administración</a>
                                        </li>
                                    <li class="nav-item" style="font-size: 25px">
                                        <a class="nav-link">></a>
                                    </li>
                                        <li class="nav-item active" style="font-size: 25px">
                                            <a class="nav-link" href="Docentes">Docentes</a>
                                        </li>
                                    <li class="nav-item" style="font-size: 25px">
                                        <a class="nav-link">></a>
                                    </li>
                                        <li class="nav-item active" style="font-size: 25px">
                                            <a class="nav-link" href="RegistrarDocente">Registrar docente</a>
                                        </li>`
  }
  </script>
}